<h1>Events</h1>
<button class="btn btn-standard" id="btn-stopped" action="simulate.stopped">Simulate Stopped</button>
<button class="btn btn-standard" id="btn-running" action="simulate.running">Simulate Running</button>
<pre class="events p-around--medium" id="events">
</pre>
<div id="imp-state" class="hidden m-vertical--small"></div>
<button class="btn btn-imp" id="btn-get-imp-state" custom-action="get.imp-state">Get Electric Imp Agent State</button>
<button class="btn btn-imp" id="btn-imp-backend-on" custom-action="set.imp-backend-on">Electric Imp - Backend ON</button>
<button class="btn btn-imp" id="btn-imp-backend-off" custom-action="set.imp-backend-off">Electric Imp - Backend OFF</button>

<script>
    let buildResult = []
    let appendStatus = (txt) => {
        buildResult.unshift(txt)
        document.querySelector('#events').innerText = buildResult.join('\n')
    }
    appendStatus('... Opening Connection ...')
    appendStatus('... Waiting for events stream (please have patience) ...')
    fetch(`/api/events`, {
        'credentials': 'same-origin',
        'headers': {
            'Content-Type': 'application/json'
        }
    }).then(resp => {
        return resp.json()
    }).then(obj => {
        // see if success
        if (obj.hasOwnProperty("success") && !obj.success) {
            // not success
            appendStatus(`... Unable to initiate build: ${obj.message}`)
            appendStatus('... Done ...')
            return
        }

        // et build id and initiate websocket
        let buildId =  obj.buildId
        console.log(`Connected to server - opening websocket`)
        let url = `${document.location.hostname === 'localhost' ? 'ws' : 'wss'}://${document.location.hostname}:${document.location.port}/`
        let ws = new WebSocket(url)
        ws.addEventListener('open', (event) => {
            console.log("Websocket open");
        })
        ws.addEventListener('message', (event) => {
            let data = event.data
            let obj = JSON.parse(data)
            appendStatus(`${obj.msg}`)
        })
    })

    addImpActionListeners(".btn-imp", (err, data) => {
        const elem = document.getElementById("imp-state");
        elem.innerText = JSON.stringify(data);
        elem.classList.toggle("visible");
        elem.classList.toggle("hidden");
        window.setTimeout(() => {
            elem.classList.toggle("hidden");
            elem.classList.toggle("visible");
        }, 5000);
    })

</script>